@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* { box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  background: CornflowerBlue;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 4.5rem;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}

.page-wrapper {
  width: 700px;
  margin: 0 auto;
}

.family-image {
  margin: 0 auto;
  background: url('facebook-family-emoji.png') center center no-repeat #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {

  h1 { font-size: 3.5rem; }
  .page-wrapper {
    width: 100%;
    padding: 0 20px;
  }

}
